name: Style

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# so only one workflow run happens for each pr/push
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  style:
    name: Style
    runs-on: ubuntu-24.04
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.8"

      - name: Get exact python version
        id: python-version
        run: |
          echo "python_version=$(python --version)" >> $GITHUB_ENV

      - name: Cache pre-commit environment
        uses: actions/cache@v4
        id: cache-pre-commit
        with:
          path: |
            ./venv/
            ~/pre-commit-cache
          key: v1-venv-precommit-${{ runner.os }}-${{ env.python_version }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install pre-commit
        if: steps.cache-pre-commit.outputs.cache-hit != 'true'
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install pre-commit

      - name: Run Style Check
        run: |
          source venv/bin/activate
          PRE_COMMIT_HOME=~/pre-commit-cache pre-commit run --all-files
